#header {background-color: #070719; width:100%; height:5em}
h3 {color :#FFFFFF; margin-left: .5em; font-size: 3em;
padding-top: 10px;}
#contactForm {width:50%; height:auto; position: relative;
margin-top: 4em;}
.userInfo li {list-style:none;}
label {width:20%; text-align:right; line-height:2em; display:block; float:left;clear:left; }
input {padding: .3em; margin: .5em;}
#submit {clear;both ; text-align:center; border: 1px solid black; margin-left:10.5em}
