#header { background-color : #4169E1;
			color:#fff; 
			height: 7em; 
			width: 100%;}
#wrapper {margin: 0 14em 0 0; 
			padding : 0;}  
#sidebar {background-color : #ff6;
			float: left;
			 width: 13em; 
			 padding: 0 0.5em; 
			 margin-left: -14em; 
}
#footer {background-color : #4169E1;
 		clear: left;
 		 height: auto;
		}
.nav { background-color : #369;
		height: 2em; }
#main {background-color : #4169E1;
		width: 40em;
	 height:25em}
.nav ul ul {display: none;}
.nav ul li:hover > ul {display: block;}
.nav ul li {float:left;
			list-style : none; 
			position: relative; 
			color: #F5FFFA;}
.nav ul li a {padding : 5px 10px 5px 10px;
			display:block;
			color: #4169E1;}
.nav ul li:hover {background: #4b545f;}
.nav ul li:hover a {color: #fff;}
.nav ul li:hover > ul li {float : none;
					display: block;
					list-style : none;
					color:#4169E1;}
.nav ul li {position: relative;}
.nav ul li ul {position : absolute ; 
			left: 0px ;top : 30px;}
h1 {padding: 1em 5em 1em 5em;}
p {font-color: AFEEEE;}

